<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="newteam" method="POST">
     <p>input type="text" name="" id=""</p>
     <p>input type="text" name="" id=""</p>
     <p>input type="text" name="" id=""</p>
     <p>input type="text" name="" id=""</p>
     <p>input type="text" name="" id=""</p>
     <p>input type="text" name="" id=""</p>
     <p>input type="text" name="" id=""</p>

     <input type="submit" value="Submit"/>
   </form>
 </body>
</html>
